* {
	margin: 20px;
}

table {
	border: 1px solid rgba(103, 103, 103, 0.364);
}

th {
	background-color: #8a8aff;
	color: white;
	font-weight: 900;
	width: 200px;
	cursor: pointer;
	font-family: Verdana, Tahoma, sans-serif;
}

td,
h1,
h2 {
	font-family: Verdana, Tahoma, sans-serif;
}

.alternate {
	background-color: #c9f4c9;
}

.normal {
	background-color: #8a8aff;
}

.sortedAscend {
	background-color: #4dc2e9;
	background-image: url("ascend.png");
	background-position: 90% 50%;
	background-repeat: no-repeat;
}

.sortedDescend {
	background-color: #4dc2e9;
	background-image: url("descend.png");
	background-position: 90% 50%;
	background-repeat: no-repeat;
}