* {
	margin: 0px;
	padding: 0px;
}

h1 {
	text-align: center;
}

h2 {
	text-align: center;
}

p {
	text-align: center;
}

#result {
	height: 50px;
	text-align: center;
	font-size: 40px;
}

#maze {
	margin: auto;
	overflow: hidden;
	height: 360px;
	width: 600px;
}

#wall {
	background-color: rgb(180, 180, 180);
}

#error {
	background-color: red;
}

.area1 {
	border-top: 2px solid black;
	border-left: 2px solid black;
	border-right: 2px solid black;
	height: 58px;
}

.area2 {
	border-left: 2px solid black;
	border-right: 2px solid black;
	float: left;
	height: 60px;
	width: 176px;
}

.path3 {
	border-top: 2px solid black;
	height: 58px;
	width: 240px;
	float: left;
}

.area3 {
	border-left: 2px solid black;
	border-right: 2px solid black;
	border-bottom: 2px solid black;
	float: left;
	height: 118px;
	width: 176px;
}

.path2 {
	background-color: white;
	height: 120px;
	width: 60px;
	float: left;
}

.area4 {
	height: 118px;
	width: 116px;
	float: left;
	border-left: 2px solid black;
	border-right: 2px solid black;
	border-top: 2px solid black;
	float: left;
}

#s {
	margin-bottom: 5px;
	margin-top: 5px;
	height: 50px;
	width: 50px;
	background-color: green;
	float: left;
}

.path1 {
	height: 58px;
	width: 190px;
	background-color: white;
	border-bottom: 2px solid black;
	float: left;
}

.area5 {
	height: 60px;
	width: 116px;
	border-left: 2px solid black;
	border-right: 2px solid black;
	float: left;
}

#e {
	margin-bottom: 5px;
	margin-top: 5px;
	height: 50px;
	width: 50px;
	background-color: red;
	float: left;
}

.area6 {
	border-bottom: 2px solid black;
	border-left: 2px solid black;
	border-right: 2px solid black;
	height: 58px;
	width: 596px;
	float: left;
}

#example {
	height: 60px;
	width: 116px;
	background-color: rgb(180, 180, 180);
	float: left;
	margin-left: 700px;
}
