* {
	padding: 0px;
	margin: 0px;
	font-family: Microsoft YaHei;
	font-weight: bold;
}

ul {
	list-style: none;
}

#info-bar {
	width: 50px;
	height: 50px;
	border-radius: 50% 50% 50% 50%;
	background-color: rgb(185, 185, 185);
	background-position: 50% 50%;
	-webkit-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
	position: absolute;
	left: 650px;
	top: 480px;
	opacity: 0;
	overflow: hidden;
}

#button:hover #info-bar {
	width: 120px;
	height: 110px;
	position: absolute;
	top: 325px;
	left: 608px;
	opacity: 1;
}

.info {
	padding-top: 15px;
	text-align: center;
	color: rgb(100, 100, 100);
}

.page span {
	padding-left: 5px;
}

.mine {
	display: inline;
}

.mine span {
	padding-left: 5px;
}

.page span {
	padding-left: 5px;
}

.user {
	font-size: 20pt;
}

.comment {
	font-size: 20pt;
}

.posted {
	font-size: 20pt;
	color: rgb(100, 100, 100);
}

.like {
	font-size: 20pt;
	color: rgb(100, 100, 100);
}

#control-ring-container li {
	width: 60px;
	height: 60px;
	border-radius: 50% 50% 50% 50%;
	background-color: gray;
	-webkit-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
	position: absolute;
	left: 650px;
	top: 500px;
	opacity: 0;
}

.mask {
	background-image: url('assets/images/mask.png');
	background-repeat: no-repeat;
	background-position: 50% 50%;
}

#button:hover .mask {
	width: 50px;
	height: 50px;
	opacity: 1;
	position: absolute;
	left: 570px;
	top: 440px;
}

.history {
	background-image: url('assets/images/history.png');
	background-repeat: no-repeat;
	background-position: 50% 50%;
}

#button:hover .history {
	width: 50px;
	height: 50px;
	opacity: 1;
	left: 550px;
	top: 500px;
}

.unread {
	width: 20px;
	height: 20px;
	border-radius: 50% 50% 50% 50%;
	background-color: red;
	float: right;
	text-align: center;
	font-family: Microsoft YaHei;
	color: rgb(255, 255, 255);
}

.message {
	background-image: url('assets/images/message.png');
	background-repeat: no-repeat;
	background-position: 50% 50%;
}

#button:hover .message {
	width: 50px;
	height: 50px;
	opacity: 1;
	left: 590px;
	top: 570px;
}

.setting {
	background-image: url('assets/images/setting.png');
	background-repeat: no-repeat;
	background-position: 50% 50%;
}

#button:hover .setting {
	width: 50px;
	height: 50px;
	opacity: 1;
	left: 660px;
	top: 595px;
}

.sign {
	background-image: url('assets/images/signin.png');
	background-repeat: no-repeat;
	background-position: 50% 50%;
}

#button:hover .sign {
	width: 50px;
	height: 50px;
	opacity: 1;
	left: 750px;
	top: 580px;
}

.apb {
	background-image: url('assets/images/atplus_white.png');
	background-color: #8383ff;
	background-repeat: no-repeat;
	width: 50px;
	height: 50px;
	border-radius: 50% 50% 50% 50%;
	background-position: 50% 50%;
	position: absolute;
	left: 650px;
	top: 480px;
	-webkit-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
}

#button:hover .apb {
	width: 100px;
	height: 100px;
	background-image: url('assets/images/atplus_green.png');
	background-color: #8383ff;
	-webkit-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
}