* {
	margin: 0px;
	padding: 0px;
}

h2 {
	text-align: center;
}

h3 {
	text-align: center;
}

#playerUI {
	margin-left: 500px;
}

#time {
	display: inline;
	padding-left: 50px;
}

#timeDisplay {
	width: 50px;
	background-color: white;
}

#result {
	background-color: white;
}

#score {
	display: inline;
	padding-left: 50px;
	margin-bottom: 10px;
}

#scoreDisplay {
	margin-bottom: 10px;
	width:47px;
	background-color: white;
}

#gameArea {
	border: 2px solid gray;
	margin: auto;
	width: 610px;
	height: 360px;
	padding: 5px;
}

.hole {
	border-radius: 50% 50% 50% 50%;
	float: left;
	border: 1px solid gray;
	width: 49px;
	height: 49px;
	margin: 5px;
	background-size: 49px 49px;
}

#mouseAppear {
	background-image: url("image/1.jpg");
}

#mouseHitted {
	background-image: url("image/2.jpg");
}

.star {
	cursor: pointer;
}
