#main {
  margin: 180px auto;
  width: 500px;
  height: 500px;
  background-color: #ffffff;
  text-align: center;
  font-family: "Ariel", "Consolas";
  border-radius: 25px;
}

body {
  background-image: url("./bg.png");
  background-repeat: no-repeat;
}

.block {
  text-align: center;
  width: 350px;
  height: 70px;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  line-height: 70px;
}

span {
  height: 20px;
  color: #42ca6b;
  font-weight: bold;
}

h1 {
  background-color: #e9f6fe;
  border-radius: 25px 25px 0px 0px;
  height: 50px;
  color: #409edb;
  font-size: 20px;
  line-height: 50px;
}
